<%= form_tag user_search_index_path(@user.id), :method => 'GET' do%>
	<label>Ime i prezime</label>
	<input name="subject_name" type="text" />
	<label>Opstina</label>
	<select name="township">
		<option value="0">Izaberi opstinu</option>
		<% @townships.each do |ts| %>
			<option value="<%=ts.id%>"><%=ts.name%></option>
		<% end %>
	</select>
	<label>Adresa</label>
	<input type="text" name="address" />
	<label>Telefon</label>
	<input type="text" name="phone" />
	<label>JMBG</label>
	<input type="text" name="jmbg" />
	<label>PDV</label>
	<input type="checkbox" name="pdv_payer" />
	<button type="submit">Trazi</button>
<% end %>

<table>
	<tr>
		<td>Redni broj</td>
		<td>Ime i prezime</td>
		<td>Opstina</td>
		<td>Adresa</td>
		<td>Telefon</td>
		<td>JMBG</td>
		<td>PDV</td>
		<td>Komentar</td>
		<td>Dodao</td>
		<td>Datum dodavanja</td>
	</tr>
	<% @payers.each do |payer| %>
		<tr>
			<td><%= payer.id %></td>
			<td><%= payer.subject_name %></td>
			<td><%= payer.township.name %></td>
			<td><%= payer.address %></td>
			<td><%= payer.phone %></td>
			<td><%= payer.jmbg %></td>
			<td><%= payer.pdv_payer? %></td>
			<td><%= payer.comment %></td>
			<td><%= payer.user.name %></td>
			<td><%= payer.created_at %></td>
		</tr>
	<% end %>
</table>